<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Manage Menu</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="admin-container">
  <h1>Панель товаров</h1>
  <form th:action="@{/order/createProduct}" method="post">
    <div>
      <label for="name">Наименование:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="price">Цена:</label>
      <input type="number" id="price" name="price" required>
    </div>
    <div>
      <label for="details">Описание:</label>
      <textarea id="details" name="details" required></textarea>
    </div>
    <div>
      <label for="image_URL">Ссылка на картинку,по примеру https://drive.google.com/thumbnail?id= и id картинки:</label>
      <input type="text" id="image_URL" name="image_URL">
    </div>
    <div>
      <button type="submit">Добавить</button>
    </div>
  </form>
</div>
</body>
</html>
