<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Manage Orders</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="admin-container">
  <h1>Manage Orders</h1>
  <table>
    <thead>
    <tr>
      <th>Order ID</th>
      <th>User ID</th>
      <th>Payment ID</th>
      <th>Address ID</th>
      <th>Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
      <td th:text="${order.getId()}"></td>
      <td th:text="${order.getUserid()}"></td>
      <td th:text="${order.getPaymentid()}"></td>
      <td th:text="${order.getAddressid()}"></td>
      <td th:text="${order.getDate()}"></td>
      <td th:text="${order.getStatus()}"></td>
      <td>
        <form th:action="@{/orders/editOrder}" method="post">
          <input type="hidden" name="orderId" th:value="${order.getId()}"/>
          <input type="hidden" name="userid"  th:value="${order.getUserid().getId()}">
          <input type="hidden" name="paymentid" th:value="${order.getPaymentid().getId()}">
          <input type="hidden" name="addressid" th:value="${order.getAddressid().getId()}">
          <input type="hidden" name="date" th:value="${order.getDate()}">
          <label>
            <select name="status" th:value="${order.getStatus()}">
              <option value="f294afcb-af1d-4e82-b438-6666d963b24c" th:selected="${order.status == 'f294afcb-af1d-4e82-b438-6666d963b24c'}">Pending</option>
              <option value="035fae61-87ec-4e39-9ce5-d14d46bc437f" th:selected="${order.status == '035fae61-87ec-4e39-9ce5-d14d46bc437f'}">Completed</option>
            </select>
          </label>
          <button type="submit">Update Status</button>
        </form>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
