@font-face {
    font-family: 'Pixel';
    src: url('https://static1.squarespace.com/static/635fe9a25a0434686a7689f3/t/635fef674523c7290c9c4c82/1667231591615/VCR_OSD_MONO_1.001.ttf');
}

html, body {
    background-color: black;
    color: red;
    font-family: 'Pixel', sans-serif; /* Используем пиксельный шрифт для всего текста */
    position: fixed;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-label {
    text-align: center;
}

.main-pic {
    display: flex;
    align-items: center;
    background-color: black; /* Цвет фона, можете заменить на ваш желаемый цвет */
    padding: 10px;
}

.main-part {
    display: flex;
    align-items: center;
    margin-left:300px; /* Добавляем отступ для "ORDER" вправо на 300px */
}

.main-part h5 {
    color: white; /* Устанавливаем белый цвет текста */
    margin: 50px; /* Убираем внешние отступы у h5 элементов */
}

.main-part h5 + h5 + h5 {
    margin-left: 50px; /* Добавляем отступ между двумя h5 элементами */
}

.about-us {
    text-align: center;
}

.about-us-description {
    display: flex;
    justify-content: center;
    text-align: center;
}

.image-with-text {
    text-align: left;
    margin: 15px;
    width: 100%;
}

.image-with-text img {
    width: 100%;
    height: auto;
}

.text-container {
    width: 100%;
}
/*блок для бд*/
.products {
    margin: 20px auto; /* Центрируем блок products */
    max-width: 800px; /* Устанавливаем максимальную ширину блока */
    padding: 20px; /* Добавляем внутренние отступы */
    background-color: black; /* Цвет фона блока */
    border-radius: 10px; /* Закругляем углы блока */
    display: flex; /* Делаем блок flex-контейнером */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
}

.product-item {
    background-color: black; /* Цвет фона элемента продукта */
    padding: 20px; /* Добавляем внутренние отступы */
    margin-bottom: 20px; /* Добавляем отступ между продуктами */
    border-radius: 10px; /* Закругляем углы элемента */
    flex: 1 0 calc(25% - 20px); /* Устанавливаем ширину каждого продукта (четверть от контейнера), учитывая отступы */
    max-width: 300px; /* Ограничиваем максимальную ширину элемента */
}
.product-item:last-child {
    margin-right: 0; /* Убираем правый отступ у последнего продукта в строке */
}
.product-item h3 {
    color: red; /* Устанавливаем цвет текста заголовка */
    font-size: 24px; /* Устанавливаем размер шрифта заголовка */
    margin-bottom: 10px; /* Добавляем отступ снизу заголовка */
}

.product-item p {
    color: red; /* Устанавливаем цвет текста описания */
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 18px; /* Устанавливаем размер шрифта описания */
}

.price {
    font-size: 20px; /* Устанавливаем размер шрифта цены */
    font-weight: bold; /* Устанавливаем полужирное начертание для цены */
    margin-bottom: 10px; /* Добавляем отступ снизу цены */
}
.products ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы у списка */
    display: flex; /* Делаем список flex-контейнером */
    flex-wrap: wrap; /* Позволяет элементам списка переноситься на новую строку */
}

.products ul li {
    flex: 0 0 auto; /* Отменяем растягивание элементов списка */
    margin-right: 20px; /* Добавляем отступ между элементами списка */
}
.products-container {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    height: 100vh; /* Занимает 100% высоты видимой области экрана */
    width: 100%; /* Занимает 100% ширины родительского элемента */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
}
.cart{
    margin-left: auto;
    margin-right: 50px;
    color: red;
    background-color: black; /* Set background color to red */
    padding: 5px 50px; /* Add padding to create space around the text */
    border-radius: 5px; /* Add rounded corners to the block */
    border: 2px solid red;
}
/*.cart:hover {
    color: black; !* Изменяем цвет текста на черный при наведении *!
    background-color: red; !* Изменяем фон кнопки на красный при наведении *!
}*/
.cartButton {
    font-family: 'Pixel';
    src: url('https://static1.squarespace.com/static/635fe9a25a0434686a7689f3/t/635fef674523c7290c9c4c82/1667231591615/VCR_OSD_MONO_1.001.ttf');
    color: red; /* Установим цвет текста красным */
    background-color: black; /* Установим фон кнопки чёрным */
    padding: 10px 20px; /* Добавим отступы вокруг текста кнопки */
    border: 2px solid red; /* Добавим красную обводку кнопки */
    border-radius: 5px; /* Закруглим углы кнопки */
    font-size: 18px; /* Установим размер шрифта */
    cursor: pointer; /* Изменение курсора при наведении */
    transition: all 0.3s ease; /* Плавное изменение всех свойств при наведении */
}

.cartButton:hover {
    color: black; /* Изменяем цвет текста на черный при наведении */
    background-color: red; /* Изменяем фон кнопки на красный при наведении */
}
.quantity-input {
    font-family: 'Pixel', sans-serif; /* Используем пиксельный шрифт для всего текста */
    color: red; /* Установим цвет текста красным */
    background-color: black; /* Установим фон поля ввода чёрным */
    border: 2px solid red; /* Добавим красную обводку */
    border-radius: 5px; /* Закруглим углы */
    padding: 2px 10px; /* Добавим отступы вокруг текста */
    font-size: 14px; /* Установим размер шрифта */
    width: 100px; /* Установим ширину поля ввода */
}

.quantity-input:focus {
    outline: none; /* Уберём фокусировку */
    border-color: red; /* Изменим цвет обводки при фокусировке */
}
.footer {
    position: fixed; /* Фиксированное позиционирование */
    bottom: 20px; /* Отступ от нижнего края */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Центрирование по горизонтали */
    text-align: center; /* Выравнивание текста по центру */
    width: 100%; /* Ширина 100% */
    box-sizing: border-box; /* Учитываем рамки и отступы внутри блока */
}
.address-form {
    max-width: 600px; /* Устанавливаем максимальную ширину формы */
    margin: 0 auto; /* Центрируем форму по горизонтали */
    padding: 20px; /* Добавляем внутренние отступы */
    background-color: black; /* Цвет фона формы */
    border-radius: 10px; /* Закругляем углы формы */
    color: red; /* Цвет текста в форме */
}

.address-form h2 {
    text-align: center; /* Центрируем заголовок формы */
}

.address-form label {
    display: block; /* Каждая метка на новой строке */
    margin-bottom: 10px; /* Отступ снизу метки */
}

.address-form input[type="text"] {
    width: 100%; /* Ширина поля ввода на всю доступную ширину */
    padding: 10px; /* Внутренние отступы вокруг текста в полях ввода */
    margin-bottom: 20px; /* Отступ снизу поля ввода */
    border: 2px solid red; /* Обводка поля ввода */
    border-radius: 5px; /* Закругление углов поля ввода */
    background-color: black; /* Цвет фона поля ввода */
    color: red; /* Цвет текста в полях ввода */
}

.address-form input[type="submit"] {
    background-color: red; /* Цвет фона кнопки отправки */
    color: black; /* Цвет текста на кнопке отправки */
    border: none; /* Убираем обводку кнопки */
    padding: 10px 20px; /* Внутренние отступы вокруг текста на кнопке */
    border-radius: 5px; /* Закругляем углы кнопки */
    font-size: 16px; /* Размер шрифта на кнопке */
    cursor: pointer; /* Изменяем курсор при наведении на кнопку */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона кнопки при наведении */
}

.address-form input[type="submit"]:hover {
    background-color: darkred; /* Изменяем цвет фона кнопки при наведении */
}
.logout-container {
    display: flex;
    justify-content: flex-end; /* Выравнивание по правому краю */
    padding: 10px; /* Отступы */
    margin-right: 20px; /* Отступ справа */
}

/* Стили для кнопки выхода */
.logout-button {
    font-family: 'Pixel';
    src: url('https://static1.squarespace.com/static/635fe9a25a0434686a7689f3/t/635fef674523c7290c9c4c82/1667231591615/VCR_OSD_MONO_1.001.ttf');
    color: red; /* Установим цвет текста красным */
    background-color: black; /* Установим фон кнопки чёрным */
    padding: 10px 20px; /* Добавим отступы вокруг текста кнопки */
    border: 2px solid red; /* Добавим красную обводку кнопки */
    border-radius: 5px; /* Закруглим углы кнопки */
    font-size: 18px; /* Установим размер шрифта */
    cursor: pointer; /* Изменение курсора при наведении */
    transition: all 0.3s ease; /* Плавное изменение всех свойств при наведении */
}

.logout-button:hover {
    color: black; /* Изменяем цвет текста на черный при наведении */
    background-color: red; /* Изменяем фон кнопки на красный при наведении */
}

