@font-face {
    font-family: 'Pixel';
    src: url('https://static1.squarespace.com/static/635fe9a25a0434686a7689f3/t/635fef674523c7290c9c4c82/1667231591615/VCR_OSD_MONO_1.001.ttf');
}

html, body {
    background-color: black;
    color: red;
    font-family: 'Pixel', sans-serif; /* Используем пиксельный шрифт для всего текста */
    position: fixed;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-label {
    text-align: center;
}

.main-pic {
    display: flex;
    align-items: center;
    background-color: black; /* Цвет фона, можете заменить на ваш желаемый цвет */
    padding: 10px;
}

.main-part {
    display: flex;
    align-items: center;
    margin-left:300px; /* Добавляем отступ для "ORDER" вправо на 300px */
}

.main-part h5 {
    color: white; /* Устанавливаем белый цвет текста */
    margin: 50px; /* Убираем внешние отступы у h5 элементов */
}

.main-part h5 + h5 + h5 {
    margin-left: 50px; /* Добавляем отступ между двумя h5 элементами */
}

.about-us {
    text-align: center;
}

.about-us-description {
    display: flex;
    justify-content: center;
    text-align: center;
}

.image-with-text {
    text-align: left;
    margin: 20px;
    width: 100%;
}

.image-with-text img {
    width: 100%;
    height: auto;
}

.text-container {
    width: 100%;
}
/*блок для бд*/
.products {
    margin: 20px auto; /* Центрируем блок products */
    max-width: 800px; /* Устанавливаем максимальную ширину блока */
    padding: 20px; /* Добавляем внутренние отступы */
    background-color: black; /* Цвет фона блока */
    border-radius: 10px; /* Закругляем углы блока */
    display: flex; /* Делаем блок flex-контейнером */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
}

.product-item {
    background-color: black; /* Цвет фона элемента продукта */
    padding: 20px; /* Добавляем внутренние отступы */
    margin-bottom: 20px; /* Добавляем отступ между продуктами */
    border-radius: 10px; /* Закругляем углы элемента */
    flex: 1 0 calc(25% - 20px); /* Устанавливаем ширину каждого продукта (четверть от контейнера), учитывая отступы */
    max-width: 300px; /* Ограничиваем максимальную ширину элемента */
}
.product-item:last-child {
    margin-right: 0; /* Убираем правый отступ у последнего продукта в строке */
}
.product-item h3 {
    color: red; /* Устанавливаем цвет текста заголовка */
    font-size: 24px; /* Устанавливаем размер шрифта заголовка */
    margin-bottom: 10px; /* Добавляем отступ снизу заголовка */
}

.product-item p {
    color: red; /* Устанавливаем цвет текста описания */
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 18px; /* Устанавливаем размер шрифта описания */
}

.price {
    font-size: 20px; /* Устанавливаем размер шрифта цены */
    font-weight: bold; /* Устанавливаем полужирное начертание для цены */
    margin-bottom: 10px; /* Добавляем отступ снизу цены */
}
.products ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы у списка */
    display: flex; /* Делаем список flex-контейнером */
    flex-wrap: wrap; /* Позволяет элементам списка переноситься на новую строку */
}

.products ul li {
    flex: 0 0 auto; /* Отменяем растягивание элементов списка */
    margin-right: 20px; /* Добавляем отступ между элементами списка */
}
.products-container {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    height: 100vh; /* Занимает 100% высоты видимой области экрана */
    width: 100%; /* Занимает 100% ширины родительского элемента */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
}
.cart{
    margin-left: auto;
    margin-right: 50px;
    color: white;
    background-color: red; /* Set background color to red */
    padding: 5px 50px; /* Add padding to create space around the text */
    border-radius: 5px; /* Add rounded corners to the block */
}
