<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cyberpizza</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<style>
    a {
        text-decoration: none;
        color: inherit;
    }
</style>
<body>
<div class="main-pic">
    <a th:href="@{home}"><img th:src="@{https://drive.google.com/thumbnail?id=18TXcE9rAU2EYXnQFBE4haqnUGo4-Rtrj}" width="230px"/></a>
    <div class="main-part">
        <H5><a th:href="@{order}">ORDER</a></H5>
        <H5><a th:href="@{contact}">CONTACT</a></H5>
        <H5><a th:href="@{profile}">PROFILE</a></H5>
    </div>
</div>
<div class="main-label">
    <h1>Your cart SAMURAI</h1>
</div>
<div class="products-container">
    <div class="products">
        <ul th:if="${cartItems.empty}">
            <li>
                <h2>Your cart is empty</h2>
            </li>
        </ul>
        <ul th:unless="${cartItems.empty}">
            <li th:each="cartItem : ${cartItems}">
                <div class="product-item">
                    <h3>Name: <span th:text="${cartItem.product.name}"></span></h3>
                    <img th:src="${cartItem.product.imageURL}" th:alt="${cartItem.product.name}" width="300" height="300"/>
                    <p th:text="'Quantity: ' + ${cartItem.quantity}"></p>
                    <form th:action="@{/api/deleteProductCart}" method="post">
                        <input type="hidden" name="id_cart" th:value="${cartItem.cartId}">
                        <input type="hidden" name="product_id" th:value="${cartItem.productId}">
                        <input type="submit" class="cartButton" value="Remove">
                    </form>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="footer">
    <p>Total Amount: <span th:text="${totalAmount}"></span></p>
    <form th:action="@{/orders/createOrder}" method="post" >
        <input type="hidden" name="totalAmount" th:value="${totalAmount}"/>
        <div th:each="cartItem, iter : ${cartItems}">
            <input type="hidden" name="productIds" th:value="${cartItem.productId}"/>
            <input type="hidden" name="quantities" th:value="${cartItem.quantity}"/>
        </div>
        <input type="submit" class="cartButton" value="Place Order" />
    </form>
</div>
</body>
</html>
