<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cyberpizza</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<style>
    a {
        text-decoration: none;
        color: inherit;
    }
</style>
<body>
<div class="main-pic">
    <a th:href="@{home}"><img th:src="@{https://drive.google.com/thumbnail?id=18TXcE9rAU2EYXnQFBE4haqnUGo4-Rtrj}" width="230px"/></a>
    <div class="main-part">
        <H5><a th:href="@{order}">ТОВАРЫ</a></H5>
        <H5><a th:href="@{contact}">КОНТАКТЫ</a></H5>
        <H5><a th:href="@{profile}">ПРОФИЛЬ</a></H5>
    </div>
</div>
<div class="main-label">
    <h1>Твоя корзина</h1>
</div>
<div class="products-container">
    <div class="products">
        <ul th:if="${cartItems.empty}">
            <li>
                <h2>Корзина пуста</h2>
            </li>
        </ul>
        <ul th:unless="${cartItems.empty}">
            <li th:each="cartItem : ${cartItems}">
                <div class="product-item">
                    <h3>Name: <span th:text="${cartItem.getProductid().getName()}"></span></h3>
                    <img th:src="${cartItem.getProductid().getImageURL()}" th:alt="${cartItem.getProductid().getName()}" width="300" height="300"/>
                    <p th:text="'Количество: ' + ${cartItem.getQuantity()}"></p>
                    <form th:action="@{/api/deleteProductCart}" method="post">
                        <input type="hidden" name="cartId" th:value="${cartItem.getCartid().getId()}">
                        <input type="hidden" name="productId" th:value="${cartItem.getProductid().getId()}">
                        <input type="submit" class="cartButton" value="Удалить">
                    </form>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="footer">
    <p>Итоговая сумма: <span th:text="${totalAmount}"></span></p>
    <form th:action="@{/orders/createOrder}" method="post" >
        <div th:each="cartItem, iter : ${cartItems}">
            <input type="hidden" name="total" th:value="${totalAmount}">
            <input type="hidden" name="checkurl" th:value="${checkurl}">
            <input type="hidden" name="cartid" th:value="${cartItem.getCartid().getId()}">
            <input type="hidden" name="productIds" th:value="${cartItem.getProductid()}"/>
            <input type="hidden" name="quantities" th:value="${cartItem.getQuantity()}"/>
            <input type="hidden" name="userid" th:value="${userid}">
            <input type="hidden" name="addressid" th:value="${addressid}">
            <input type="hidden" name="date" th:value="${date}">
            <input type="hidden" name="status" th:value="${status}">
            <input type="hidden" name="totalAmount" th:value="${totalAmount}"/>
        </div>
        <input type="submit" class="cartButton" value="Заказать" />
    </form>
</div>
</body>
</html>
