<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cybepizza</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<style>
  /* Стили для ссылок */
  a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста */
  }
</style>
<body>
<div class="main-pic" >
  <a th:href="@{home}"><img  th:src="@{https://drive.google.com/thumbnail?id=18TXcE9rAU2EYXnQFBE4haqnUGo4-Rtrj}" width="230px"/></a >
  <div class="main-part">
    <H5><a th:href="@{order}">ТОВАРЫ</a></H5>
    <H5><a th:href="@{contact}">КОНТАКТЫ</a></H5>
    <H5><a th:href="@{profile}">ПРОФИЛЬ</a></H5>
  </div>
  <div class="cart">
    <H5>
      <a th:href="@{cart}">КОРЗИНА</a>
    </H5>
  </div>
</div>
<div class="main-label" >
  <h1>We got pizza to burn</h1>
</div>
<div class = "about-us">
  <h1>
    Сделано Филиппом Яковлевым
  </h1>
  <h2>Mail: yfilipp123@mail.ru</h2>
  <h2>TG: @kubirito </h2>
</div>





</body>
</html>