<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cybepizza</title>
    <!--<link rel="stylesheet" type="text/css" href="/styles.css"/>-->
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div class="main-pic" >
    <img th:src="@{/images/Logo.png}" width="230px"/>
    <div class = "main-part">
        <H5 >
            ORDER
        </H5>
        <H5>
            CONTACT
        </H5>
        <H5>
            LOGIN
        </H5>
    </div>
</div>
<div class="main-label" >
    <h1>We got pizza to burn</h1>
</div>
<div class = "about-us">
    <h1>
        What can we offer and what do we do?
    </h1>
</div>
<div class="about-us-description">
    <div class="image-with-text">
        <img th:src="@{https://s0.rbk.ru/v6_top_pics/media/img/7/82/346934898382827.jpeg}" height="75px" />
        <div class="text-container">
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </h3>
        </div>
    </div>
    <div class="image-with-text">
        <img th:src="@{https://r2.erweima.ai/ideogram/1Vhm8sMdReW1FN9m4W5ALw.jpg}" height="75px" />
        <div class="text-container">
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            </h3>
        </div>
    </div>
    <div class="image-with-text">
        <img th:src="@{https://r2.erweima.ai/ideogram/rip88VRMRcC0Up9gunPHJA.jpg}" height="75px" />
        <div class="text-container">
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </h3>
        </div>
    </div>
</div>



</body>
</html>