<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cybepizza</title>
    <!--<link rel="stylesheet" type="text/css" href="/styles.css"/>-->
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<style>
    /* Стили для ссылок */
    a {
        text-decoration: none; /* Убираем подчеркивание */
        color: inherit; /* Наследуем цвет текста */
    }
</style>
<body>
<div class="main-pic" >
    <a th:href="@{home}"><img  th:src="@{https://drive.google.com/thumbnail?id=18TXcE9rAU2EYXnQFBE4haqnUGo4-Rtrj}" width="230px"/></a >
    <div class="main-part">
        <H5><a th:href="@{order}">ORDER</a></H5>
        <H5><a th:href="@{contact}">CONTACT</a></H5>
        <H5><a th:href="@{profile}">PROFILE</a></H5>
    </div>
    <div class="cart">
        <H5>
            <a th:href="@{cart}">CART</a>
        </H5>
    </div>
</div>
<div class="main-label" >
    <h1>We got pizza to burn</h1>
</div>
<div class = "about-us">
    <h1>
        What can we offer and what do we do?
    </h1>
</div>

<div class="about-us-description">
    <div class="image-with-text">
        <img th:src="@{https://drive.google.com/thumbnail?id=10PKimiUvtug11z9-pKTzCjv_xd-LDRP7}"  />
        <div class="text-container">
            <h3>
                Our story begins in 2024, when a group of technology enthusiasts and pizza lovers decided to combine their passions. We founded CyberPizza to offer you a unique experience of ordering and enjoying cyberpunk pizza.
            </h3>
        </div>
    </div>
    <div class="image-with-text">
        <img th:src="@{https://drive.google.com/thumbnail?id=1NEaKGvp8lLyqfmHFkJMTkvMrqQRrBw6G}"  />
        <div class="text-container">
            <h3>
                Since our founding, we have strived not only for excellence in cooking, but also for innovation in service. Order from us and get a taste of the future!
            </h3>
        </div>
    </div>
    <div class="image-with-text">
        <img th:src="@{https://drive.google.com/thumbnail?id=1TbpHVM1pZ1czGxC5yfE5zNIGWCWeBhqT}" />
        <div class="text-container">
            <h3>
                Our pizzas are prepared using the latest technology and the finest ingredients to ensure every bite is delicious.
            </h3>
        </div>
    </div>
</div>



</body>
</html>