<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cybepizza</title>
    <!--<link rel="stylesheet" type="text/css" href="/styles.css"/>-->
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<style>
    /* Стили для ссылок */
    a {
        text-decoration: none; /* Убираем подчеркивание */
        color: inherit; /* Наследуем цвет текста */
    }
</style>
<body>
<div class="main-pic" >
    <a th:href="@{home}"><img  th:src="@{https://drive.google.com/thumbnail?id=18TXcE9rAU2EYXnQFBE4haqnUGo4-Rtrj}" width="230px"/></a >
    <div class="main-part">
        <H5><a th:href="@{order}">ТОВАРЫ</a></H5>
        <H5><a th:href="@{contact}">КОНТАКТЫ</a></H5>
        <H5><a th:href="@{profile}">ПРОФИЛЬ</a></H5>
    </div>
    <div class="cart">
        <H5>
            <a th:href="@{cart}">КОРЗИНА</a>
        </H5>
    </div>
</div>
<div class="main-label" >
    <h1>We got pizza to burn</h1>
</div>
<div class = "about-us">
    <h1>
        Что мы можем предложить и чем мы занимаемся?
    </h1>
</div>

<div class="about-us-description">
    <div class="image-with-text">
        <img th:src="@{https://drive.google.com/thumbnail?id=10PKimiUvtug11z9-pKTzCjv_xd-LDRP7}"  />
        <div class="text-container">
            <h3>
                Наша история началась в 2024 году, когда группа энтузиастов технологий и любителей пиццы решила объединить свои интересы. Мы основали CyberPizza, чтобы предложить вам уникальный опыт заказа и наслаждения пиццей в стиле киберпанк.
            </h3>
        </div>
    </div>
    <div class="image-with-text">
        <img th:src="@{https://drive.google.com/thumbnail?id=1NEaKGvp8lLyqfmHFkJMTkvMrqQRrBw6G}"  />
        <div class="text-container">
            <h3>
                С момента основания мы стремились не только к совершенству в кулинарии, но и к инновациям в обслуживании. Закажите у нас и почувствуйте вкус будущего!
            </h3>
        </div>
    </div>
    <div class="image-with-text">
        <img th:src="@{https://drive.google.com/thumbnail?id=1TbpHVM1pZ1czGxC5yfE5zNIGWCWeBhqT}" />
        <div class="text-container">
            <h3>
                Наши пиццы готовятся с использованием новейших технологий и лучших ингредиентов, чтобы гарантировать вкус каждого кусочка.            </h3>
        </div>
    </div>
</div>



</body>
</html>