<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Вход</title>
  <link rel="stylesheet" th:href="@{/logRegCSS.css}"/>
</head>
<body>
<div class="main-logo">
  <img th:src="@{https://drive.google.com/thumbnail?id=18TXcE9rAU2EYXnQFBE4haqnUGo4-Rtrj}" width="230px"/>
</div>
<div class="container">
  <div class="form-container">
    <h1>Пожалуйста войдите</h1>
    <p>Не зарегистрированы? Нажмите <a th:href="@{/registration}">здесь</a> чтобы зарегистрироваться.</p>
    <div th:if="${param.error}">Неправильное имя или пароль.</div>
    <div th:if="${param.logout}">Вы вышли из аккаунта.</div>
    <form th:action="@{/login}" method="post">
      <div>
        <input type="text" name="username" placeholder="Логин"/>
      </div>
      <div>
        <input type="password" name="password" placeholder="Пароль"/>
      </div>
      <input type="submit" value="Войти"/>
    </form>
  </div>
</div>
</body>
</html>
