<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cybepizza</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<style>
  a {
    text-decoration: none;
    color: inherit;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
</style>
<body>
<div class="main-pic" >
  <a th:href="@{home}"><img  th:src="@{https://drive.google.com/thumbnail?id=18TXcE9rAU2EYXnQFBE4haqnUGo4-Rtrj}" width="230px"/></a >
  <div class="main-part">
    <H5><a th:href="@{order}">ORDER</a></H5>
    <H5><a th:href="@{contact}">CONTACT</a></H5>
    <H5><a th:href="@{profile}">PROFILE</a></H5>
  </div>
  <div class="cart">
    <H5>
      <a th:href="@{cart}">CART</a>
    </H5>
  </div>
</div>
<div class = "about-us">
  <h1>
    Finish  your freebie pizza and delta from here
  </h1>
</div>

</form>-->
<div class="products" >
  <h2>Products</h2>
  <ul>
    <li th:each="product : ${products}">
      <div class="product-item">
        <form th:action="@{/api/createProductCart}" method="post">

          <h3 th:text="${product.name}"></h3>
          <img th:src="${product.imageurl}" th:alt="${product.name}" width="300" height="300"/>
          <p class="price" th:text="'Price: ' + ${product.price}"></p>
          <p th:text="${product.details}"></p>
          <input type="hidden" name="productid" th:value="${product.id}">
          <label for="quantity">Quantity:</label>
          <input class="quantity-input" type="number" id="quantity" name="quantity" value="1" min="1">
          <input type="hidden" name="productId" th:value="${product.id}">
          <input type="hidden" name="productName" th:value="${product.name}">
          <input type="hidden" name="productImageURL" th:value="${product.imageurl}">
          <input type="hidden" name="productPrice" th:value="${product.price}">
          <input type="hidden" name="productDetails" th:value="${product.details}">
          <input type="hidden" name="cartid" th:value="${cartid}">

          <button class="cartButton" type="submit">Add to Cart</button>
        </form>
      </div>
    </li>
  </ul>
</div>






</body>
</html>