<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cybepizza</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<style>
  a {
    text-decoration: none;
    color: inherit;
  }

</style>
<body>
<div class="main-pic">
  <a th:href="@{/home}"><img th:src="@{https://drive.google.com/thumbnail?id=18TXcE9rAU2EYXnQFBE4haqnUGo4-Rtrj}" width="230px"/></a>
  <div class="main-part">
    <h5><a th:href="@{/order}">ORDER</a></h5>
    <h5><a th:href="@{/contact}">CONTACT</a></h5>
    <h5><a th:href="@{/profile}">PROFILE</a></h5>
  </div>
  <div class="cart">
    <h5>
      <a th:href="@{/cart}">CART</a>
    </h5>
  </div>
</div>
<div class="logout-container">
  <form th:action="@{/logout}" method="post">
    <button type="submit" class="logout-button">Logout</button>
  </form>
</div>
<div class="main-label">
  <h1>Who are you SAMURAI?</h1>
</div>
<div class="address-form">
  <h2>Add or Update address</h2>
  <form th:action="@{/profile/create}" th:method="post">
    <input type="hidden" id="userId" name="userId" th:value="${userId}">
    <label for="street">Street:</label>
    <input type="text" id="street" name="street" required><br>

    <label for="house">House:</label>
    <input type="text" id="house" name="house" required><br>

    <label for="apartment">Apartment:</label>
    <input type="text" id="apartment" name="apartment" required><br>

    <input type="submit" value="Add or Update Address">
  </form>
  <!--<h2>Update address</h2>
  <form th:action="@{/profile/edit}" th:method="post">
    <input type="hidden" name="user_id" th:value="${user_id}">
    <label for="street">Street:</label>
    <input type="text" name="street" required><br>

    <label for="house">House:</label>
    <input type="text" name="house" required><br>

    <label for="apartment">Apartment:</label>
    <input type="text" name="apartment" required><br>
    <input type="submit" value="Update Address">
  </form>-->
</div>
</body>
</html>
